.container-field{
    list-style-type: none;
}

.container-div{
    color: black;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 14px -1px rgba(41,57,77,1);
    padding: 0;
    margin-bottom: 1rem;
}

.containers-ul {
    padding: 0 1rem;
    margin: 0;
}

.container-info{
    font-weight: lighter;
}

.healthy-value{
    display: inline;
    font-weight: lighter;
}

.healthy-status{
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.close-icon{
    margin-top: 0;
    text-align: right;
}
