.container-field{
    list-style-type: none;
}

.json-container{
    list-style-type: none;
    white-space: pre-wrap;
    line-height: 1.7;
    padding: 0 1rem;
    margin: 1rem 0;
}

.container-div{
    color: black;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 14px -1px rgba(41,57,77,1);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.containers-ul {
    padding: 0 1rem;
    margin: 1rem 0;
}

.container-info{
    font-weight: lighter;
}

.healthy-value{
    display: inline;
    font-weight: lighter;
}

.icons-container{
    margin: 1.65rem 0 1rem 0;
    text-align: right;
}
.icons-container>h5{
    margin: 2rem 0 1rem 0;
}

.icons-container > button{
    font-size: 0.8rem;
    border-radius: 0.3rem;
    margin: 0 0.2rem;
    padding: 0.3rem 0.5rem;
}

#json-button{
    color: white;
    background-color: rgb(100, 134, 207);
}

#json-button:hover{
    background-color: rgb(76, 105, 168);
}

#download-button{
    color: white;
    background-color: #4CAF50;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    margin: 0 0.2rem;
    padding: 0.3rem 0.5rem;
}

#download-button:hover{
    background-color: rgb(61, 141, 64);;
}

#close-icon{
    color: red;
    padding: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid red;
    background-color: white;
    border-radius: 3rem;
}

#close-icon:hover{
    color: white;
    background-color: red;
}