.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 1rem 0;
}

.json-containers{
    background-color: white;
}

.teste{
    background-color: white;
    height: 200px;
    width: 200px;
}